<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>*ngfor objs</h1>
    <div *ngFor =" let product of products">
      <img width="250"   [src]="product.image" alt="image">
      <h2>{{product.price}}</h2>
      <h3>{{product.name}}</h3>
    </div>
    <h1>*ngfor</h1>
       <input type="text" required [(ngModel)]="newName"/>
    <button (click) = "addName()" > Add name</button>
    <ul>
      <li *ngIf="names.length === 0">No hay nombres</li>
      <li *ngFor= "let name of names ; index as i"> {{i}} {{name}} 

        <button (click)  =  "deleteName(i)">Delete</button>
      </li>
      
    </ul>
    <h1>*ngIF</h1>
    <p *ngIf="1 ==1 "> My content</p>
    <input type="text" required [(ngModel)]="person.name"/>
    <p *ngIf="person.name === 'nicolas' ">Soy  nicolas</p>
    <p *ngIf="person.name === 'julian'&& person.age === 40; else elseBlock">Soy  julian</p>
     <ng-template #elseBlock>

      <p>Bloque else</p>

     </ng-template>

    <h1>Ngmodel</h1>
    <p>mi nombre es: {{ person.name }}</p>
    <input type="text" required #nameInput ="ngModel" [(ngModel)]="person.name" (keyup)="changeName($event)" />
    <p>valid: {{nameInput.valid}} </p>
    <h1>Eventos</h1>
    <p></p>
    <p>mi nombre es: {{ person.name }}</p>
    <input type="text" [value]="person.name" (keyup)="changeName($event)" />

    <button [disabled]="btnDisable">enviar</button>
    <button (click)="toggleButton()">toogle button</button>
    <p>edad {{ person.age }}</p>
    <p><button (click)="agePlusPlus()">Age++</button></p>
    <div class="box" (scroll)="onScroll($event)">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum id dolore
        quod alias optio maxime esse iste sequi ab magni?, Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Vel veritatis obcaecati mollitia
        natus eum est placeat quos unde consectetur! Sit recusandae repellat
        voluptatum earum, sed dolore, iure odit ducimus obcaecati atque, eius
        praesentium ipsam facilis impedit? Sed optio error vitae vel assumenda
        totam fugiat quasi sint nisi ipsa, iusto aliquam dicta soluta est
        ducimus. Vitae, expedita! Vitae asperiores sit, ipsum, iure repudiandae
        minus vero dolore repellendus natus quam, dicta soluta explicabo
        consectetur impedit ex cumque voluptates? Saepe numquam asperiores
        aspernatur nisi aliquid quod. Beatae repellendus distinctio magni,
        laudantium itaque corrupti quisquam, ipsa aspernatur ducimus perferendis
        facilis tempore eaque possimus vel?
      </p>
    </div>

    <hr />
    <h1>Propiedades</h1>
    <p>
      <input type="text" [value]="person.name" />

      <button [disabled]="btnDisable">enviar</button>
    </p>
    <p>
      <progress max="100" [value]="person.age"></progress>
    </p>

    <p><img width="100" [src]="person.avatar" /></p>

    <hr />

    <h2>
      <p>{{ "hola  chingo amigo ".repeat(6) }}</p>
    </h2>
    <h3><p>hola soy!</p></h3>
    <h4>
      <p>{{ person.name }}, tengo {{ age }}</p>
    </h4>
    <p><img src="{{ img }}" alt="imagen" /></p>
  </body>
</html>
