<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
<hr>
 <h1>  Eventos</h1>
    <p>
      <input type="text" [value]="person.name" />

      <button [disabled]="btnDisable">enviar</button>
      <button (click)="toggleButton()">toogle button</button>
      <p>edad {{person.age}}</p>
      <button (click)="agePlusPlus()">Age++</button>
      <div class="box"></div>
<hr />
    <h1>Propiedades</h1>
    <p>
      <input type="text" [value]="person.name" />

      <button [disabled]="btnDisable">enviar</button>
    </p>
    <p>
      <progress max="100" [value]="person.age"></progress>
    </p>

    <p> <img width="100" [src]="person.avatar" /></p>

    <hr />

    <h2><p> {{ "hola  chingo amigo ".repeat(6) }}</p></h2>
    <h3><p>hola soy!</p></h3>
    <h4><p>{{ name }}, tengo {{ age }}</p></h4>
    <p><img src="{{ img }}" alt="imagen" /></p>
  </body>
</html>
